<%= params.inspect %>

<br>
<div class="container-narrow" id="selector_main">
  <br>
  <p>Please select which items you want rated in this poll and give the poll name.</p>

  <%= form_tag("#", method: "post") do %>
    <%= label_tag("Poll Name:") %>
    <%= text_field_tag(:poll_name) %>
    <br>

    <% @items_count = @poll.items.count %>

    <div class="row-fluid marketing">
      <div class="span6">
        <% @poll.items[0..(@items_count/2)].each do |item| %>
          <h4><%= image_tag(item.item_image_urls.first.medium_url) %></h4>
          <p>
            <%= check_box_tag(item.id) %>
            <%= label_tag(item.name) %>
          </p>
        <% end %>
      </div>

      <div class="span6">
        <% @poll.items[(@items_count/2+1)..(@items_count-1)].each do |item| %>
          <h4><%= image_tag(item.item_image_urls.first.medium_url) %></h4>
          <p>
            <%= check_box_tag(item.id) %>
            <%= label_tag(item.name) %>
          </p>
        <% end %>
      </div>
    </div>

    <%= submit_tag("Choose Items") %>
  <% end %>
</div>
