<br>
<div class="container-narrow" id="selector_main">
  <br>
  <p>Please select which items you want rated in this poll and give the poll name.</p>

  <%= form_tag("/polls/#{@poll.id}/select_items", method: "post") do %>
    <%= label_tag("Poll Name:") %>
    <%= text_field_tag(:poll_name) %>
    <br>

    <% @items_count = @poll.items.count %>

    <div class="row-fluid marketing">
      <div class="span6">
        <% @poll.items[0..(@items_count/2)-1].each do |item| %>
          <h4><%= image_tag(item.item_image_urls.first.medium_url) %></h4>
          <p>
            <%= check_box_tag(item.id) %>
            <%= simple_format(item.name) %>
          </p>
          <br>
        <% end %>
      </div>

      <div class="span6">
        <% @poll.items[(@items_count/2)..(@items_count-1)].each do |item| %>
          <h4><%= image_tag(item.item_image_urls.first.medium_url) %></h4>
          <p>
            <%= check_box_tag(item.id) %>
            <span class="small_text"><%= simple_format(item.name) %></span>
          </p>
          <br>
        <% end %>
      </div>
    </div>

    <%= submit_tag("Choose Items", class: "btn btn-large btn-success") %>
  <% end %>
</div>
