<div id="this-carousel-id" class="carousel slide" data-interval="false">
  <div class="carousel-inner">
    <% @poll.items.each_with_index do |item, index| %>
      <% if index == 0 %>
        <div class="item active">
      <% else %>
        <div class="item">
      <% end %>
        <%= image_tag item.item_image_urls.first.url %>
        <div class="carousel-caption">
          <p>
            <%= item.name %>
            <br>
            Current Item Rating:
            <span id="<%= item.id %>">
              <%= humanize_number(item.rating) %>
            </span>
            <br>
            Rate from 1-5:
            <%= form_tag("/rate_item", method: "post", id: "#{item.id}", class: "form") do %>
              <%= text_field_tag(:rating) %>
              <%= hidden_field_tag(:item_id, item.id) %>
              <%= submit_tag("Rate") %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $(".form").submit(function(event){
      event.preventDefault();
      var valuesToSubmit = $(this).serialize();
      $.ajax({
        url: $(this).attr('action'),
        data: valuesToSubmit,
        dataType: "JSON"
      }).success(function(json){});

      var id = $(this).attr('id');
      $.ajax({
        url: '/item_rating.json',
        data: {'id': id},
        dataType: 'JSON'
      }).success(function(json){
        $("#" + id).text(json);
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $(function() {
      $.fn.raty.defaults.path = 'public';
      $('.star').raty({
        cancel   : false,
        cancelOff: 'cancel-off-big.png',
        cancelOn : 'cancel-on-big.png',
        half     : true,
        size     : 24,
        starHalf : 'star-half-big.png',
        starOff  : 'star-off-big.png',
        starOn   : 'star-on-big.png',
        half     : true,
        path     : 'img'});
    });
  });
</script>
